.hdng {
    color:  #bacccc;
    
}

.s {
    color: #30c9c6;
}

#navi{
    width: 70%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.nav-item{
    color: #bacccc;
    padding: 0.2vw 1vw;
}
.nav-item:hover{
    background-color: #30c9c6;
    color: #232424;
    border: none;
    border-radius: 5vw;
    text-decoration: none;
}
#buto{
    background-color: #3e4040;
    color:#f3f9f9;
}
#buto:hover{
    background-color: #efefef;
    border-color: #bacccc;
    color: #232424 ;
}

#thirdse{
    width: 100%;
}