#hdng {
    color:  #bacccc;
    
}

#s {
    color: #30c9c6;
}

.bg-gra{
    background-color: #3e4040;
}

.text-dim-tor{
    color: #bacccc;
}

.bg-dim-tor{
    background-color: #bacccc ;
}

.text-tor{
    color: #30c9c6;

}